extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Login to your account
      form#login.form
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='email@example.com', required)
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          button.btn.btn--green Login
