:root {
    --primary-color: #0c062e;
    /* --primary-color: #3d0c6e; */
    /* --secondary-color: #e77171; */
    /* --secondary-color: #bd3e3e; */
    --secondary-color: #e44e4e;

    --br-size: 0.3em;
    font-size: 1.2em;
}

body {
    background-color: var(--primary-color);
}

h1,
h2,
p {
    color: var(--secondary-color);
}

.url input {
    background-color: #e2e2e2;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2em 11em;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 1.5em 0 0;
}

.login {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 0.5em;
    color: var(--primary-color);
}

.main {
    width: min(90vw, 960px);
    margin: 12em auto;
    text-align: center;
    /* position: relative; */
}
.main h1 {
    font-size: 3em;
}
form {
    /* border-radius: 3em; */
    margin: 2.5em 0;
}

.main input {
    width: 45%;
    padding: 0.4em;
    border: none;
    border-radius: var(--br-size);
}

input#url {
    border-radius: var(--br-size) 0 0 var(--br-size);
}

.main button {
    /* position: absolute; */
    background-color: var(--secondary-color);
    color: #e2e2e2;
    font-weight: bold;

    padding: 0.4em;
    border: none;
    border-radius: var(--br-size);
}

button.shorten {
    border-radius: 0 var(--br-size) var(--br-size) 0;
}
#short-link {
    display: none;
    color: var(--secondary-color);
    font-size: 1.5em;
}

.form-container {
    background-color: rgba(18, 13, 51, 0.7);
    width: min(60%, 100vw);
    margin: 0 auto;
    display: flex; /* Use flexbox */

    justify-content: center; /* Horizontal centering */

    flex-direction: column;
    align-items: center; /* Vertical centering */
}

.form {
    display: flex;
    width: min(500px, 100vw);
    align-items: center;
    flex-direction: column;
}

.form label {
    /* color: var(--secondary-color); */
    margin-bottom: 0.3em;

    /* display: block; */
    color: white;
}
.form input {
    /* background-color: rgba(255, 255, 255, 0.9); */

    margin-bottom: 0.8em;
}

img {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}

.nav {
    /* position: relative; */
    display: flex;
    align-items: center;
}
